*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #363636; }

.heading-primary {
  line-height: 1.7; }
  .heading-primary--main {
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase; }
  .heading-primary--sub {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2.4rem; }

.heading-secondary {
  font-size: 1.6rem;
  text-transform: uppercase; }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 500; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  border: none;
  cursor: pointer; }

.btn--icon {
  display: block;
  background-color: transparent;
  color: #363636;
  height: 2.8rem;
  width: 2.8rem;
  margin: 0 1rem;
  transition: all 0.3s; }
  .btn--icon:hover, .btn--icon:active {
    transform: translateY(-2px); }

.btn--text {
  display: inline-block;
  color: #363636; }
  .btn--text-main {
    padding: 1rem;
    position: relative;
    text-transform: uppercase;
    font-weight: 500; }
    .btn--text-main::after {
      content: '';
      display: inline-block;
      border-bottom: 2px solid #363636;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: left;
      margin-bottom: 1px;
      transition: all 0.3s; }
    .btn--text-main:hover::after {
      display: inline-block;
      transform: scaleX(1); }
  .btn--text-sub {
    display: inline-block;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    color: #363636;
    font-size: 1.4rem;
    font-weight: 500; }

.btn-color {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  width: 14rem;
  justify-content: space-between;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.125);
  transition: all 0.3s; }
  .btn-color svg {
    height: 2rem;
    width: 2rem; }
  .btn-color--primary {
    background: linear-gradient(to right, #ffffff 50%, #363636 50%);
    background-size: 200% 100%;
    background-position: right bottom; }
    .btn-color--primary:hover {
      background-position: left bottom;
      color: #363636; }
  .btn-color--secondary {
    background: linear-gradient(to right, #ffffff 50%, #117495 50%);
    background-size: 200% 100%;
    background-position: right bottom; }
    .btn-color--secondary:hover {
      background-position: left bottom;
      color: #117495; }

.story {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  cursor: pointer; }
  .story__img-box {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    position: relative; }
    .story__img-box::after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      border: 2px solid transparent;
      background-image: linear-gradient(white, white), radial-gradient(circle at top left, #ffffff, #117495);
      background-origin: border-box;
      background-clip: content-box, border-box;
      z-index: -1; }
    .story__img-box:hover::after {
      animation-name: rotation;
      animation-duration: 3s;
      animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1); }
    .story__img-box img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      padding: 0.5rem;
      border-radius: 50%; }

/* Rotating animation */
@keyframes rotation {
  from {
    transform: rotate(-360deg); }
  to {
    transform: rotate(0); } }

.product {
  display: flex;
  position: relative;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s; }
  .product--normal {
    width: 30rem; }
    .product--normal .product__img-box {
      height: 35rem;
      width: 100%; }
    .product--normal .product__text-box {
      display: flex;
      flex-direction: column;
      row-gap: 0.6rem;
      align-items: flex-end; }
    .product--normal .product__name {
      text-align: end; }
  .product--small {
    width: 100%;
    height: 20rem; }
    .product--small .product__img-box {
      flex-shrink: 0;
      height: 100%;
      width: 16.8rem; }
    .product--small .product__text-box {
      display: flex;
      flex-direction: column;
      row-gap: 0.6rem;
      align-items: flex-start; }
    .product--small .product__name {
      text-align: start; }
  .product--vertical {
    flex-direction: column; }
  .product--horizontal {
    column-gap: 2.4rem; }
  .product__img-box {
    position: relative; }
    .product__img-box img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .product__label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.8rem 0.8rem 0.2rem 0.8rem;
    background-color: #ffffff;
    font-size: 1.4rem;
    text-transform: uppercase; }
    .product__label--new {
      color: #117495; }
    .product__label--hot {
      color: #d72f2a; }
    .product__label--sale {
      color: #92dd78; }
  .product__category-label {
    background-color: #363636;
    padding: 0.8rem;
    color: #ffffff; }
  .product__prices {
    font-size: 2.6rem;
    font-weight: 300;
    display: flex;
    column-gap: 2.4rem; }
    .product__prices--prev {
      text-decoration: line-through;
      color: #878787; }
  .product:hover {
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.05);
    transform: scale(1.02); }

.article {
  height: 70rem; }
  .article__img-box {
    position: relative;
    height: 60rem;
    width: 100%; }
    .article__img-box img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .article__text-box {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-10%);
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    align-items: flex-start; }
  .article__paragraph {
    line-height: 1.7;
    text-align: start; }

.container {
  max-width: 140rem;
  text-align: center;
  margin: 0 auto; }

.header {
  height: 65rem;
  position: relative; }
  .header__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.45);
    border-bottom: 1px solid rgba(113, 113, 113, 0.75);
    height: auto;
    z-index: 2;
    transition: all 0.3s; }

.slideshow-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1; }
  .slideshow-container__prev, .slideshow-container__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    padding: 1.6rem;
    color: rgba(255, 255, 255, 0.45);
    font-weight: bold;
    font-size: 3.6rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; }
    .slideshow-container__prev:hover, .slideshow-container__next:hover {
      color: rgba(255, 255, 255, 0.75); }
  .slideshow-container__next {
    right: 0;
    border-radius: 3px 0 0 3px; }

.slide {
  display: none;
  position: absolute;
  width: 100%; }
  .slide__img-box {
    height: 65rem;
    width: 100%; }
    .slide__img-box img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .slide__text-box {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 35rem;
    padding: 1.2rem; }

.header-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.6rem 1.6rem 0 1.6rem; }
  .header-tabs__el--logo {
    flex: 0 1 75%;
    padding-left: 15rem;
    display: flex;
    justify-content: center; }

.nav {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%; }
  .nav__main {
    width: 50rem;
    display: flex;
    justify-content: space-between; }
  .nav__sub {
    position: absolute;
    height: auto;
    width: 100%;
    top: 100%;
    left: 0;
    display: none;
    justify-content: center;
    padding: 1.8rem 0;
    background-color: rgba(255, 255, 255, 0.45);
    transition: all 0.3s; }
    .nav__sub:hover {
      background-color: rgba(255, 255, 255, 0.75); }
    .nav__sub-inner {
      flex: 0 1 60%;
      display: flex;
      justify-content: space-between;
      padding: 0 1.2rem; }
    .nav__sub-block {
      display: flex;
      flex-direction: column;
      row-gap: 1.4rem; }

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 1rem; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active,
.dot:hover {
  background-color: rgba(255, 255, 255, 0.75); }

/* Appearing animation */
.sliding {
  animation-name: sliding;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1); }

@keyframes sliding {
  from {
    width: 0; }
  to {
    width: 100%; } }

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3.6rem;
  border-top: 1px solid rgba(113, 113, 113, 0.75); }
  .footer__list {
    list-style: none;
    text-align: start; }
  .footer__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__map {
    flex: 0 0 30%; }
  .footer__connect {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    align-items: center; }
  .footer__social {
    display: flex; }
  .footer__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3.6rem; }
    .footer__cta p {
      text-align: start;
      line-height: 1.6;
      margin-bottom: 1.6rem;
      padding: 0 1.4rem; }
  .footer__payments {
    display: flex;
    justify-content: space-between; }
    .footer__payments img {
      width: 5rem;
      height: 3rem; }

.form {
  display: flex; }
  .form__input {
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
    border-radius: 2px;
    background-color: rgba(196, 196, 196, 0.45);
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    transition: all 0.3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #92dd78; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #d72f2a; }

.stories-section {
  display: flex;
  margin: 1.6rem auto;
  width: 80rem;
  justify-content: space-between; }

.products-section {
  padding: 3.6rem; }

.articles-section {
  display: flex;
  justify-content: space-between;
  padding: 3.6rem; }

.section-heading {
  display: flex;
  align-items: center; }
  .section-heading--top {
    justify-content: end;
    margin-bottom: 2.4rem;
    column-gap: 40rem; }
  .section-heading--side {
    display: flex;
    align-self: center;
    flex-direction: column; }
  .section-heading__btns {
    display: flex;
    margin-left: 7rem; }

.products-display {
  display: flex; }
  .products-display--vertical {
    flex-direction: column;
    justify-content: space-between; }

.promo-section {
  padding: 3.6rem;
  display: flex;
  column-gap: 2.4rem; }
  .promo-section--left .promo-section__text {
    align-items: flex-end;
    right: 3%; }
  .promo-section--right .promo-section__brand-box {
    order: 2; }
  .promo-section--right .products-display {
    order: 1; }
  .promo-section--right .product--small {
    justify-content: space-between; }
  .promo-section--right .product__img-box {
    order: 2; }
  .promo-section--right .product__text-box {
    order: 1; }
  .promo-section--right .promo-section__text {
    align-items: flex-start;
    left: 3%; }
  .promo-section__brand-box {
    position: relative;
    flex: 0 0 65%; }
    .promo-section__brand-box img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .promo-section__text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    transform: translateY(-25%); }
    .promo-section__text span {
      font-size: 4.8rem;
      text-transform: uppercase; }
