$color-primary: #363636;
$color-secondary: #117495;

$color-red: #d72f2a;
$color-green: #92dd78;
$color-yellow: #fde582;
$color-white: #ffffff;

$color-grey-light-1: #c4c4c4;
$color-grey-light-1: #787878;
$color-grey-dark: rgba(113, 113, 113, 0.75);

$color-grey-transparent-1: rgba(255, 255, 255, 0.45);
$color-grey-transparent-2: rgba(255, 255, 255, 0.75);
$color-grey-transparent-2: rgba(255, 255, 255, 0.9);

$default-font-size: 1.6rem;
