.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3.6rem;
  border-top: 1px solid $color-grey-dark;

  @include respond(tab-port) {
    grid-template-columns: 1fr 1fr;
    row-gap: 2.4rem;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  &__list {
    list-style: none;
    text-align: start;

    @include respond(phone) {
      text-align: center;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(phone) {
      row-gap: 2rem;
      grid-row: 1;
    }
  }

  &__map {
    flex: 0 0 30%;
  }

  &__connect {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    align-items: center;
  }

  &__social {
    display: flex;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3.6rem;

    @include respond(tab-port) {
      padding: 0;
    }

    p {
      text-align: start;
      line-height: 1.6;
      margin-bottom: 1.6rem;
      padding: 0 1.4rem;
    }
  }

  &__payments {
    display: flex;
    justify-content: space-between;
    img {
      width: 5rem;
      height: 3rem;
    }
  }
}
