///////////////////////////////////////////////////////
// Header

.header {
  position: relative;

  &--index-page {
    height: 65rem;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-grey-transparent-1;
    border-bottom: 1px solid $color-grey-dark;
    height: auto;
    z-index: 2;
    transition: all 0.3s;

    &:hover {
      background-color: $color-grey-transparent-3;
    }
  }
}

// Hamburger, Logo, Search, User, Favorites and Cart

.header-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.6rem 1.6rem 0 1.6rem;

  &__el {
    &--hamburger {
      visibility: collapse;
    }

    &--logo {
      flex: 0 1 75%;
      padding-left: 15rem;
      display: flex;
      justify-content: center;
    }
  }
}

// Navigation

.nav {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 0.5rem;

  &__main {
    width: 50rem;
    display: flex;
    justify-content: space-between;
  }

  &__sub {
    position: absolute;
    height: auto;
    width: 100%;
    top: 90%;
    left: 0;
    // display: flex;
    display: none;
    justify-content: center;
    padding: 1.8rem 0;
    background-color: $color-grey-transparent-1;
    transition: all 0.3s;

    &:hover {
      background-color: $color-grey-transparent-2;
    }

    &-inner {
      flex: 0 1 60%;
      display: flex;
      justify-content: space-between;
      padding: 0 1.2rem;
    }

    &-block {
      display: flex;
      flex-direction: column;
      row-gap: 1.4rem;
    }
  }
}

.dropdown__is-visible {
  display: flex;
}

.hamburger-is-visible {
  .header-tabs__el--hamburger {
    visibility: visible;
  }

  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;

    &:hover {
      background-color: $color-grey-transparent-3;
    }

    &__main {
      flex-direction: column;
      background-color: $color-grey-transparent-2;
      width: 30rem;

      @include respond(phone) {
        width: 20rem;
      }
    }

    &__sub {
      justify-content: flex-start;
      width: fit-content;
      top: 0;
      left: 99%;
      width: 40rem;
      background-color: $color-grey-transparent-2;

      @include respond(phone) {
        width: 40rem;
      }

      &:hover {
        background-color: $color-grey-transparent-3;
      }

      &-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
