.header {
  position: relative;

  &--index-page {
    height: 65rem;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-grey-transparent-1;
    border-bottom: 1px solid $color-grey-dark;
    height: auto;
    z-index: 2;
    transition: all 0.3s;
  }
}

.slideshow-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;

  &__prev,
  &__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    padding: 1.6rem;
    color: $color-grey-transparent-1;
    font-weight: bold;
    font-size: 3.6rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

    &:hover {
      color: $color-grey-transparent-2;
    }
  }

  &__next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
}

.slide {
  display: none;
  position: absolute;
  width: 100%;
  &__img-box {
    height: 65rem;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__text-box {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 35rem;
    padding: 1.2rem;
  }
}

.header-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.6rem 1.6rem 0 1.6rem;

  &__el {
    &--logo {
      flex: 0 1 75%;
      padding-left: 15rem;
      display: flex;
      justify-content: center;
    }
  }
}

.nav {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  &__main {
    width: 50rem;
    // flex: 0 1 60%;
    display: flex;
    justify-content: space-between;
  }
  &__sub {
    position: absolute;
    height: auto;
    width: 100%;
    top: 100%;
    left: 0;
    // display: flex;
    display: none;
    justify-content: center;
    padding: 1.8rem 0;
    background-color: $color-grey-transparent-1;
    transition: all 0.3s;

    &:hover {
      background-color: $color-grey-transparent-2;
    }

    &-inner {
      flex: 0 1 60%;
      display: flex;
      justify-content: space-between;
      padding: 0 1.2rem;
    }

    &-block {
      display: flex;
      flex-direction: column;
      row-gap: 1.4rem;
    }
  }
}

///////////////////////////////////////////////////////
// Dots

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 1rem;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: $color-grey-transparent-1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: $color-grey-transparent-2;
}

///////////////////////////////////////////////////////
// Animation

/* Appearing animation */
.sliding {
  animation-name: sliding;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
}

@keyframes sliding {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
