.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;

    border: none;
    cursor: pointer;
  }

  &--icon {
    display: block;
    background-color: transparent;
    color: $color-primary;
    height: 2.8rem;
    width: 2.8rem;
    margin: 0 1rem;
    transition: all 0.3s;

    &:hover,
    &:active {
      transform: translateY(-2px);
    }
  }

  &--text {
    display: inline-block;
    color: $color-primary;

    &-main {
      padding: 1rem;
      position: relative;
      text-transform: uppercase;
      font-weight: 500;

      &::after {
        content: '';
        display: inline-block;
        border-bottom: 2px solid $color-primary;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        margin-bottom: 1px;
        transition: all 0.3s;
      }

      &:hover::after {
        display: inline-block;
        transform: scaleX(1);
      }
    }

    &-sub {
      display: inline-block;
      padding: 1rem;
      position: relative;
      text-decoration: none;
      color: $color-primary;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }

  &--color {
    font-size: 1.4rem;
    font-weight: 500;
    color: $color-white;
    text-transform: uppercase;
    background: linear-gradient(to right, #ffffff 50%, #117495 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    width: 14rem;
    justify-content: space-between;
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.125);
    transition: all 0.3s;

    svg {
      height: 2rem;
      width: 2rem;
    }

    &:hover {
      background-position: left bottom;
      color: $color-secondary;
    }
  }
}
