.product {
  display: flex;
  position: relative;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;

  &--normal {
    width: 30rem;

    .product__img-box {
      height: 35rem;
      width: 100%;
    }

    .product__text-box {
      display: flex;
      flex-direction: column;
      row-gap: 0.6rem;
      align-items: flex-end;
    }

    .product__name {
      text-align: end;
    }
  }

  &--small {
    width: 100%;
    height: 20rem;

    .product__img-box {
      flex-shrink: 0;
      height: 100%;
      width: 16.8rem;
    }

    .product__text-box {
      display: flex;
      flex-direction: column;
      row-gap: 0.6rem;
      align-items: flex-start;
    }

    .product__name {
      text-align: start;
    }
  }

  &--vertical {
    flex-direction: column;
  }

  &--horizontal {
    column-gap: 2.4rem;
  }

  &__img-box {
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.8rem 0.8rem 0.2rem 0.8rem;
    background-color: $color-white;
    font-size: 1.4rem;
    text-transform: uppercase;

    &--new {
      color: $color-secondary;
    }

    &--hot {
      color: $color-red;
    }

    &--sale {
      color: $color-green;
    }
  }

  &__category-label {
    background-color: $color-primary;
    padding: 0.8rem;
    color: $color-white;
  }

  &__prices {
    font-size: 2.6rem;
    font-weight: 300;
    display: flex;
    column-gap: 2.4rem;

    &--prev {
      text-decoration: line-through;
      color: $color-grey-light-3;
    }
  }

  &:hover {
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.05);
    transform: scale(1.02);
  }
}
