.account {
  display: flex;
  justify-content: space-between;
  padding: 3.6rem 0;
  width: 80rem;
  margin: 0 auto;

  &__nav {
    &-user {
      border-bottom: 1px solid $color-grey-dark;
    }

    &-admin {
      margin: 3.2rem 0;

      &-badge {
        display: flex;
        align-items: center;
        justify-content: start;
        column-gap: 1.2rem;
        font-size: 1.4rem;
        padding: 1rem 2rem;
        color: $color-white;
        text-transform: uppercase;
        background-color: $color-primary;
        margin-bottom: 1.6rem;

        svg {
          height: 2rem;
          width: 2rem;
        }
      }
    }

    &-list {
      list-style: none;
    }

    &-el {
      display: flex;
      align-items: center;
      svg {
        height: 2.8rem;
        width: 2.8rem;
        stroke-width: 1.5px;
      }
    }
  }

  &__side-panel {
    &-title {
      margin-bottom: 1.6rem;
    }

    &-list {
      list-style: none;
    }
  }

  &__orders {
    &-title {
      margin-bottom: 1.6rem;
    }

    &-list {
      list-style: none;
    }
  }
}

.list-el {
  display: flex;
  width: 100%;
  min-width: 40rem;
  max-width: 50rem;
  justify-content: space-between;
  column-gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid $color-grey-dark;

  &__last-span {
    margin-left: auto;
  }

  &__details-box {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
    width: 100%;

    img {
      flex-shrink: 0;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      object-fit: cover;
    }

    a {
      text-align: start;
      word-wrap: normal;
    }
  }

  &__details-btns {
    display: flex;
    align-self: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      height: 2rem;
      width: 2rem;
    }
  }
}
