.stories-section {
  display: flex;
  margin: 1.6rem auto;
  width: 80rem;
  justify-content: space-between;
}

.products-section {
  padding: 3.6rem;
}

.articles-section {
  display: flex;
  justify-content: space-between;
  padding: 3.6rem;
}

.section-heading {
  display: flex;
  align-items: center;

  &--top {
    justify-content: end;
    margin-bottom: 2.4rem;
    column-gap: 40rem;
  }

  &--side {
    display: flex;
    align-self: center;
    flex-direction: column;
  }

  &__btns {
    display: flex;
    margin-left: 7rem;
  }
}

.products-display {
  display: flex;

  &--vertical {
    flex-direction: column;
    justify-content: space-between;
  }

  &--horizontal {
  }
}

.promo-section {
  padding: 3.6rem;
  display: flex;
  column-gap: 2.4rem;

  &--left {
  }

  &--right {
    .promo-section__brand-box {
      order: 2;
    }

    .products-display {
      order: 1;
    }

    .product--small {
      justify-content: space-between;
    }

    .product__img-box {
      order: 2;
    }

    .product__text-box {
      order: 1;
    }
  }

  &__brand-box {
    position: relative;
    flex: 0 0 65%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__text {
    position: absolute;
    top: 0;
    right: 3%;
    transform: translateY(-25%);
    span {
      font-size: 4.8rem;
      text-transform: uppercase;
    }
  }
}
