.stories-section {
  display: flex;
  margin: 1.6rem auto;
  width: 80rem;
  justify-content: space-between;
}

.products-section {
  padding: 3.6rem;
}

.articles-section {
  display: flex;
  justify-content: space-between;
  padding: 3.6rem;
}

.section-heading {
  display: flex;
  align-items: center;

  &--top {
    justify-content: end;
    margin-bottom: 2.4rem;
    column-gap: 40rem;
  }

  &--side {
    display: flex;
    align-self: center;
    flex-direction: column;
  }

  &__btns {
    display: flex;
    margin-left: 7rem;
  }
}

.products-display {
  display: flex;
}
