.products {
  margin: 3.6rem auto;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @include respond(tab-land) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include respond(tab-port) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}
